#filters-collapsed{
    display: block;
    background-color: #999;
    height: auto;
    border: 2px solid black;
    box-shadow: 0px 3px 2px grey;
    padding: 5px;
}

#filter-modal-title{
    text-align: center;
    margin: 0px;
}

#filter-form{
    display: table;
    margin: 0 auto;
}

#zip{
    align-content: center;
}

.filter-modal-input{
    width: 180px;
}

.filter-modal-label{
    width: 100px;
    display: inline-block;
}
.filter-label-collapsed{
    width: 100px;
    display: inline-block;
}

.filter-input-collapsed{
    margin: 0px;
}

.collapsed-filter{
    display: inline;
    margin: 0 auto;
    text-align: right;
}

#refine-filters{
    display: none;
}

@media screen and (max-width: 1110px){
    .collapsed-filter{
        display: none;
    }

    #refine-filters{
        margin: auto 0;
        display: inline;
        cursor: pointer;
        color: rgb(65,105,225);
        font-weight: 500;
    }

    #filters-collapsed{
        height: 24px;
        background-color: white;
    }
}