html, body {
  overflow: auto;
  margin: 0;
  height: 100%;
  background-image: linear-gradient(to bottom, white, skyblue);
  background-size: cover;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    text-align: right;
  }