#modal-container{
    z-index: 5;
    position: fixed;
    left: 0;
    top: 0;
}

#modal-backdrop{
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: .9;
    z-index: 7;
}

#modal{
    z-index: 10;
    position: absolute;
    background-color: white;
    border-top: 10px solid rgba(65,105,225, .8);
    /* border-radius: 0px 5px 5px 0px; */
    padding: 10px;
    min-width: 300px;
    max-width: 350px;
    width: 80%;
    height: auto;
}

.divider{
    margin: 10px;
}