<!-- <i id="filters-hamburger" class="fas fa-bars fa-2x"></i> -->
<a id="refine-filters" onclick="filters.refineSearch()">Refine your search...</a>
<div id="zip-filter-collapsed" class="collapsed-filter">
    <label class="filter-collapsed-label">Zipcode:</label>
    <select id="zip-input-collapsed" class="filter-collapsed-input" oninput="filters.submitInput()">
        <option disabled selected value> -- Select an Option -- </option>
        <option value="30303">30303</option>
        <option value="30310">30310</option>
        <option value="30312-15">30312-15</option>
        <option value="30318">30318</option>
    </select>
</div>
<div id="demographics-filter-collapsed" class="collapsed-filter">
    <label class="filter-collapsed-label">I am a...</label>
    <select id="demo-input-collapsed" class="filter-collapsed-input" oninput="filters.submitInput()">
        <option disabled selected value> -- Select an Option -- </option>
        <option value="Youth">Youth</option>
        <option value="Veteran">Veteran</option>
    </select>
</div>
<div id="services-filter-collapsed" class="collapsed-filter">
    <label class="filter-collapsed-label">Looking for...</label>
    <select id="services-input-collapsed" class="filter-collapsed-input" oninput="filters.submitInput()">
        <option disabled selected value> -- Select an Option -- </option>
        <option value="Career Services">Career Services</option>
        <option value="Financial Counseling">Financial Counseling</option>
    </select>
</div>